body {
  font-family: "Times New Roman", serif;
  background-color: #def0ff; /* Light blue-gray background */
  color: #333; /* Dark gray text color */
  margin: 0;
  padding: 0;
}

.box {
  width: 800px;
  background: #cee5ff; /* White background */
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  color: #333; /* Dark gray text color */
  font-family: "Century Gothic", sans-serif;
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0px 0px 15px rgba(176, 218, 255, 0.712); /* Soft shadow */
}

.box-img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.box h1 {
  font-size: 30px;
  letter-spacing: 4px;
  font-weight: 100;
  color: #4a6b7d; /* Dark blue color */
}

.box h5 {
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 100;
}

.box p {
  text-align: left;
}

ul {
  margin: 0;
  padding: 0;
}

.box li {
  display: inline-block;
  margin: center;
  list-style: none;
  display: inline;
  padding: 20px 40px;
}

.box li a {
  color: #2e5a8e; /* Medium blue color */
  text-decoration: none;
  font-size: 40px;
  transition: all ease-in-out 250ms;
}

.box li a:hover {
  color: #1a375e; /* Darker blue color on hover */
}

